﻿@using VeinsBuster.Models;
@model IEnumerable<Usuario>
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<section class="content-header">
    <h1>
        @ViewBag.Title
        @*<small>Control panel</small>*@
    </h1>
    @*<ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>*@
</section>

@if (!Model.Any())
{
    <p>No results for users.</p>
}
else
{
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    @*<div class="box-header">
                        <h3 class="box-title">Usuarios</h3>
                    </div>*@
                    <div class="box-body">
                        <table id="Usuarios" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Email</th>
                                    <th>Puntos</th>
                                    <th>Invitaciones</th>
                                    <th>Invitaciones Pendientes</th>
                                    <th>Ver</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td>@user.Nombre</td>
                                        <td>@user.Email</td>
                                        <td>@user.Puntos</td>
                                        <td>@user.Invitaciones</td>
                                        <td>@user.InvitacionesPendientes</td>
                                        <td>@Html.ActionLink("Perfil", "Perfil", "Usuarios", new { id = user.Id }, new { @class = "btn btn-primary" })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#Usuarios").DataTable({
                language: {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });
        });
    </script>
}