﻿@using VeinsBuster.ViewModels
@model PerfilViewModel
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<section class="content-header">
    <h1>
        @ViewBag.Title
        @*<small>Control panel</small>*@
    </h1>
    @*<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>*@
</section>

<section class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <h3 class="profile-username text-center">@Model.Usuario.Nombre</h3>
                    <p class="text-muted text-center">@Model.Usuario.Email</p>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Puntos</b> <a class="pull-right">@Model.Usuario.Puntos</a>
                        </li>
                        <li class="list-group-item">
                            <b>Invitaciones Activas</b> <a class="pull-right">@Model.Usuario.Invitaciones</a>
                        </li>
                        <li class="list-group-item">
                            <b>Invitaciones Pendientes</b> <a class="pull-right">@Model.Usuario.InvitacionesPendientes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#pendiente" data-toggle="tab">Pendientes</a></li>
                    <li><a href="#usada" data-toggle="tab">Usadas</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="active tab-pane" id="pendiente">
                    <div class="box">
                        <div class="box-body">
                            <table id="Pendientes" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Premio</th>
                                        <th>Descripción</th>
                                        <th>Puntos</th>
                                        <th>Fecha</th>
                                        <th>Aplicar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var trans in Model.TrPendientes)
                                    {
                                        <tr>
                                            <td>@trans.Premio.Nombre</td>
                                            <td>@trans.Premio.Descripcion</td>
                                            <td>@trans.Puntos</td>
                                            <td>@trans.Fecha.ToShortDateString()</td>
                                            <td>
                                                <button type="button" class="btn btn-primary js-usar" data-prize="@trans.Id" >Aplicar </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="usada">
                    <div class="box">
                        <div class="box-body">
                            <table id="Usados" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Premio</th>
                                        <th>Descripción</th>
                                        <th>Puntos</th>
                                        <th>Fecha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var trans in Model.TrUsadas)
                                    {
                                        <tr>
                                            <td>@trans.Premio.Nombre</td>
                                            <td>@trans.Premio.Descripcion</td>
                                            <td>@trans.Puntos</td>
                                            <td>@trans.FechaUso.Value.ToShortDateString()</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#Pendientes .js-usar").on("click", function () {
                $.ajax({
                    url: "../../api/Transacciones/" + $(this).attr("data-prize"),
                    method: "PUT",
                    success: function (data)
                    {
                        location.reload(true);
                    }
                });
            });
        });
    </script>
}