﻿@model VeinsBuster.ViewModels.PremioFormViewModel
@{
    ViewBag.Title = "Premios";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @ViewBag.Title
        @*<small>Control panel</small>*@
    </h1>
    @*<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>*@
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">@Model.Title</h3>
                </div>
            </div>
            @*@using (Html.BeginForm("Save", "Premios", FormMethod.Post))
            {
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Premio.Nombre)
                        @Html.TextBoxFor(m => m.Premio.Nombre, new { @class = "form-control" })
                    </div>
                </div>
                @Html.HiddenFor(m => m.Premio.Id)
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            }*@
            @using (Html.BeginForm("Save", "Premios"))
                {
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Premio.Nombre)
                            @Html.TextBoxFor(m => m.Premio.Nombre, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Premio.Nombre, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Premio.Descripcion)
                            @Html.TextBoxFor(m => m.Premio.Descripcion, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Premio.Descripcion, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Premio.TipoId)
                            @Html.DropDownListFor(m => m.Premio.TipoId, new SelectList(Model.TiposPremio, "Id", "Nombre"), "", new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Premio.TipoId, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Premio.Costo)
                            @Html.TextBoxFor(m => m.Premio.Costo, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Premio.Costo, "", new { @class = "text-danger" })
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.Premio.Estatus) Activo
                            </label>
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.Premio.Id)
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                }
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
